.orange-btn {
  text-transform: uppercase;
  background-image: linear-gradient(to right,#fbb033 0,#fd0 100%);
  border-color: #fbb033;
}
.green-btn {
  text-transform: uppercase;
  background-image: linear-gradient(to right,#199e27 0,#22c333 100%);
  border-color: #37a60f;
}

.red-btn {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #d53362 0, #fd96b4 100%);
  border: none;
  border-radius: .2rem;
}

.register-btn {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #c59d3e 0, #ebd597 100%);
  border: none;
  border-radius: .2rem;
}

.btn-link {
  color: var(--info);
  font-weight: 200;
}

.btn-link:hover {
  color: white;
}
