//$primary:       #202121 ;
//$primary:       #191d20 ;
//$secondary:     #ffc900 ;
//$light:         #464848 ;
//$dark:          #000000 ;
$success:       #3dc073 ;
//$info:          #ebebeb ;
$gray-100:      #929394 ;
$enable-validation-icons: false ;

$tab-container-color: #30333a;
$header-mobile-size: 125px;
$header-desktop-size: 80px;
$font-size-base: 1rem !default;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 900;

$vs-colors: (
  lightest: rgba(60, 60, 60, 0.26),
  light: rgba(60, 60, 60, 0.5),
  dark: white,
  darkest: rgba(60, 60, 60, 0.5),
) !default;
