.vue-flux {
  height: 25rem;
  &.desktop {
    width: calc(100vw - 10px);
  }
  &.mobile {
    width: calc(100vw);
  }
  .flux-controls {
    .play, .pause {
      display: none !important;
    }
  }
  .flux-pagination li {
    width: 1.5% !important;
    padding-bottom: 1.5% !important;
  }
}
