@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import "~vue-select/src/scss/vue-select.scss";
@import "variables";
@import "functions";
@import "dropdown";
@import "vue-flux";
@import "nav-item";
@import "container";
@import "select";
@import "button";
@import "modal";
@import "typography";
@import "sidebar";
@import "../flags.css";
@import "../icon-material.css";

html {
  overflow-y: auto;
  overflow-x: auto;
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.info-box {
  height: 100px;
  border-radius: 10px;
}
